rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /businesses/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /dashboard/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /reviews/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /rankings/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
